.test{
    background: url("https://www.bing.com/th/id/OGC.521920add60b3a34f3fcc2893ccfdae9?o=7&pid=1.7&rm=3&rurl=https%3a%2f%2fgiffiles.alphacoders.com%2f985%2f98587.gif&ehk=eAyDZekh5jlbifQD2xU6GMW2d2BmoR7Ya4WCW7BJyW8%3d")  no-repeat center/cover;
    height: 90vh;
       
}

div{
    color: rgb(231, 58, 58);

}